/* Custom CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #000000 !important;
  }
  
  .jumbotron {
    position: relative;
    padding: 20% 0;
    color: #000000;
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-info {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }
  
  .text-black {
    color: #000 !important;
  }
  
  .text-gray {
    color: #000000;
  }
  
  .feature-section {
    padding: 50px 0;
  }
  
  .scroll-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .scroll-indicator i {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  .product-img {
    width: 50%;
    height: 50%;
  }
  
  /* Add more styles as needed */   